@mixin mainbtn($mainbtnBg){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color:$mainbtnBg
}
#cta1{
    @include mainbtn(#000);
   
}
#cta2{
    @include mainbtn(blue);
   
  
}